<ion-app>

  <ion-split-pane>
  
  <ion-content>

 
  
      <!-- Encabezado de inicio -->
      <ion-header>
        
        <ion-toolbar>
          
          <ion-buttons slot="start">
            
            <ion-menu-button></ion-menu-button>
            
          </ion-buttons>
          <ion-title>
            <div class="logo-principal">
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- Fin encabezado de inicio -->
      <app-header backButton="/auth"></app-header>
<br><br>

  <h2 class="ion-text-center ion-no-margin">Recuperar Contraseña</h2>
  <div class="content">
    
    <div class="d-flex-center">
      
      <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="ion-text-center">

        <!-- Correo -->
        <app-custom-input autocomplete= "email" [control]= "form.controls.email" type= "email" label= "Correo" icon="mail-outline"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.dirty">
          <div *ngIf="form.controls.email.errors?.['required']">Ingresa tu email</div>
          <div *ngIf="form.controls.email.errors?.['email']">Ingresa un email válido</div>
        </div>

        <ion-button [routerLink]="['auth']" color="tertiary" class="ion-margin-vertical" [disabled]="form.invalid" type="submit" shape="round">
          Enviar Enlace de Recuperación
          <ion-icon slot="end" name="mail-outline"></ion-icon>
        </ion-button>
        <br><br>

      </form>
      
    </div>
    
  </div>

</ion-content>

</ion-split-pane>
</ion-app>
