// Logo que sale en medio de la barra
.logo-principal {
    display: flex; /* Utiliza un contenedor flex para alinear elementos de forma flexible */
    margin-right: 50px; /* Agrega un margen a la derecha para separar del siguiente elemento */
    justify-content: center; /* Centra horizontalmente la imagen dentro del contenedor */
    align-items: center; /* Centra verticalmente la imagen dentro del contenedor */
}

// Tamaño del logo
.imgagen-logo {
    width: 50px; /* Establece el ancho de la imagen del logo a 50 píxeles */
}

form {
    border-radius: 20px; /* Redondea las esquinas del formulario con un radio de 20 píxeles */
    box-shadow: 0px 0px 8px 0px #3c10cb; /* Aplica una sombra al formulario, con un desenfoque de 8 píxeles y color #3c10cb */
    padding: 0px 30px 0px 20px; /* Agrega un padding interno: 0 arriba, 30px derecha, 0 abajo, 20px izquierda */
}
