  // Logo que sale en medio de la barra
  .logo-principal {
    display: flex;
    margin-right: 50px;
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center;     /* Centra verticalmente la imagen */
  }
  
  // tamaño del logo
  .imgagen-logo {
    width: 50px;
  }

  form{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 0px #3c10cb;
    padding: 0px 30px 0px 20px;
}