<!-- Elemento raíz de la aplicación Ionic -->
<ion-app>

  <!-- Pane dividido para mostrar una barra lateral en pantallas grandes -->
  <ion-split-pane>

    <!-- Contenedor principal de contenido -->
    <ion-content>

      <!-- Encabezado de inicio -->
      <ion-header>

        <!-- Barra de herramientas para el encabezado -->
        <ion-toolbar>

          <!-- Botón de menú en la esquina izquierda del encabezado -->
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <!-- Título del encabezado con el logo -->
          <ion-title>
            <div class="logo-principal">
              <!-- Imagen del logo principal de la aplicación -->
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" />
            </div>
          </ion-title>

        </ion-toolbar>
      </ion-header>
      <!-- Fin del encabezado de inicio -->

      <!-- Componente de encabezado personalizado con botón de regreso -->
      <!-- <app-header backButton="/auth"></app-header> -->
      <br><br>

      <!-- Título principal de la página con centrado de texto -->
      <h2 class="ion-text-center ion-no-margin">Recuperar Contraseña</h2>

      <!-- Contenedor del contenido principal -->
      <div class="content">

        <!-- Contenedor centrado de elementos -->
        <div class="d-flex-center">

          <!-- Formulario para la recuperación de contraseña -->
          <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="ion-text-center">

            <!-- Correo -->
            <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label="Correo"
              icon="mail-outline">
            </app-custom-input>

            <!-- Validadores del campo de correo, que se muestran si el campo tiene errores y ha sido modificado -->
            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.dirty">
              <!-- Mensaje de error si el campo está vacío -->
              <div *ngIf="form.controls.email.errors?.['required']">Ingresa tu email</div>
              <!-- Mensaje de error si el formato del email no es válido -->
              <div *ngIf="form.controls.email.errors?.['email']">Ingresa un email válido</div>
            </div>


            <!-- Botón para enviar el enlace de recuperación, deshabilitado si el formulario es inválido -->
            <ion-button [routerLink]="['auth']" color="tertiary" class="ion-margin-vertical" [disabled]="form.invalid"
              type="submit" shape="round">
              Enviar Enlace de Recuperación <!-- Texto del botón -->
              <ion-icon slot="end" name="mail-outline"></ion-icon> <!-- Icono de sobre al final del botón -->
            </ion-button>
            <br><br>

          </form>

        </div>

      </div>

    </ion-content>

  </ion-split-pane>
</ion-app>