// centrar texto
.ion {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  flex-direction: column;  /* Alinea los elementos verticalmente */
  height: 100vh;           /* Asegura que ocupe toda la altura de la pantalla */
  text-align: center;      /* Centra el texto dentro de los <h1> */
}

.card{
  margin: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}

.container{
  margin-bottom: 10vh;
}

.tarjetas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 200px;
}

.nombreUsuario{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  text-align: center;      /* Centra el texto dentro de los <h1> */
  gap: 8px;
}

.carrusel{
  margin-top: 25px;
}

// ESTILO CLIMA
.clima_estilo {
   text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .result {
    background: rgba(240, 240, 240, 0.4);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    

    img {
      width: 100px;
      height: 100px;
    }

    p {
      margin: 5px 0;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    ion-item {
      margin-bottom: 10px;
    }
  }
}

