// centrar texto
.ion {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  flex-direction: column;  /* Alinea los elementos verticalmente */
  height: 100vh;           /* Asegura que ocupe toda la altura de la pantalla */
  text-align: center;      /* Centra el texto dentro de los <h1> */
}

.card{
  margin: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}

.container{
  margin-bottom: 10vh;
}

.tarjetas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 200px;
}

.nombreUsuario{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  text-align: center;      /* Centra el texto dentro de los <h1> */
  gap: 8px;
}

.carrusel{
  margin-top: 25px;
}


#CLIMA

body {
    font-family: Arial, sans-serif; //Fuente principal //
    background: #f4f4f4; // Color de fondo gris claro //
    text-align: center; // Alineación del texto al centro //
    padding: 20px; // Espaciado interno alrededor del contenido //
}

// Contenedor principal de la información del clima //
.weather-content {
    background: white; // Fondo blanco //
    padding: 20px; // Espaciado interno //
    border-radius: 8px; // Bordes redondeados //
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); // Sombra sutil para efecto elevado //
    display: inline-block; // Permite que el contenido se ajuste a su tamaño //
}

// Sección donde se mostrará la información del clima //
.result {
    margin: 20px 0; // Margen superior e inferior de 20px //
}

// Estilo para los mensajes de error //
.error {
    color: red; // Texto en rojo para resaltar los errores //
}