
 <ion-app>
  <ion-menu side="start" menuId="m1" contentId="main-content">
    <ion-header>
      <ion-toolbar class="color-toolbar">
        <ion-title>
          <div class="inicio-logo">
            <img class="logo-menu" src="assets/icon/1611770034484.png" alt="logo" />
            <span style="margin-left: 8px;">INICIO</span>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-menu-toggle class="toggle">
      
      <ion-button [routerLink]="['./tabs/home']" expand="block" color="tertiary" class="abrir-menu">Inicio</ion-button>
      <ion-button [routerLink]="['./tabs/productos']" expand="block" color="tertiary" class="abrir-menu">Productos</ion-button>

      <!-- Mostrar solo si el usuario ESTÁ autenticado -->
      <ion-button [routerLink]="['./tabs/profile']" *ngIf="isAuthenticated" class="abrir-menu" expand="block" color="tertiary">Perfil</ion-button>
      
      <!-- Mostrar solo si el usuario NO está autenticado -->
      <ion-button *ngIf="!isAuthenticated" [routerLink]="['/auth']" expand="block" color="tertiary" class="abrir-menu">Iniciar sesión</ion-button>
      
      <!-- Mostrar solo si el usuario ESTÁ autenticado -->
      <ion-button *ngIf="isAuthenticated" class="abrir-menu" expand="block" color="tertiary" (click)="signOut()">Cerrar sesión</ion-button>
    </ion-menu-toggle>
  </ion-menu>
  

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>