<ion-app>
  <ion-split-pane>
    <ion-content [fullscreen]="true" class="ion"> <!-- pagina completa -->
      <!-- Encabezado de inicio -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            <div class="logo-principal">
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- Fin encabezado de inicio -->

      <br>
      <h2>PRODUCTOS</h2>

      <div class="container"><!-- inicio container -->
        <div class="row"> 
          <div class="tarjetas col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" *ngFor="let producto of productos">
            <div class="card" style="width: 18rem;">
              <img [src]="producto.imageUrl" class="card-img-top" alt="{{ producto.description }}">
              <div class="card-body">
                <h5 class="card-title">{{ producto.description }}</h5>
                <p class="card-text">Material: {{ producto.material }}</p>
                <p class="card-text">Tamaño: {{ producto.size }}</p>
                <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a>
              </div>
            </div>
          </div>
        </div> <!-- row-->
      </div><!-- fin container -->


    </ion-content> <!-- fin pagina completa -->
  </ion-split-pane>
</ion-app>
