<ion-app>
  <ion-split-pane>
    <ion-content [fullscreen]="true" class="ion"> <!-- Establece el contenido para ocupar toda la pantalla -->
      <!-- Encabezado de inicio -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"> <!-- Botones que aparecen al inicio del toolbar -->
            <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú lateral -->
          </ion-buttons>
          <ion-title>
            <div class="logo-principal"> <!-- Contenedor para el logo -->
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" /> <!-- Imagen del logo -->
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- Fin encabezado de inicio -->

      <br> <!-- Espaciador -->
      <h2>PRODUCTOS</h2> <!-- Título de la sección de productos -->

      <div class="container"><!-- Inicio del contenedor -->
        <div class="row"> <!-- Fila para organizar las tarjetas de productos -->
          <div class="tarjetas col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3" *ngFor="let producto of productos"> <!-- Itera sobre la lista de productos y define el tamaño de la columna según el dispositivo -->
            <div class="card" style="width: 18rem;"> <!-- Tarjeta para mostrar los detalles del producto -->
              <img [src]="producto.imageUrl" class="card-img-top" alt="{{ producto.description }}"> <!-- Imagen del producto -->
              <div class="card-body"> <!-- Contenido de la tarjeta -->
                <h5 class="card-title">{{ producto.description }}</h5> <!-- Descripción del producto -->
                <p class="card-text">Material: {{ producto.material }}</p> <!-- Material del producto -->
                <p class="card-text">Tamaño: {{ producto.size }}</p> <!-- Tamaño del producto -->
                <p class="card-text">Precio: {{ producto.price | currency:'CLP':'symbol':'1.0-0':'es' }}</p> <!-- Precio del producto formateado como moneda chilena sin decimales y con punto -->
                <a href="#" class="btn btn-primary">AGREGAR AL CARRITO</a> <!-- Botón para agregar el producto al carrito -->
              </div>
            </div>
          </div>
        </div> <!-- Fin de la fila -->
      </div><!-- Fin del contenedor -->

    </ion-content> <!-- Fin del contenido completo -->
  </ion-split-pane>
</ion-app>
