/* Centrar texto */
.ion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea al inicio verticalmente */
    flex-direction: column;  /* Alinea los elementos verticalmente */
    height: auto;           /* Cambia a auto para ajustar según el contenido */
    text-align: center;      /* Centra el texto dentro de los <h1> */
  }
  
  .container {
    margin-bottom: 10vh; /* Espacio en la parte inferior del contenedor */
  }
  
  .tarjetas {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas */
    max-width: 1200px; /* Ancho máximo del contenedor (ajusta según tu diseño) */
  }
  
  /* Estilos para las tarjetas */
  .card {
    width: calc(24% - 15px); /* Ancho de las tarjetas para que quepan 4 en una fila */
    max-width: 250px; /* Puedes ajustar el ancho máximo según tu diseño */
    margin: 10px; /* Espacio entre tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.2s; /* Efecto suave al pasar el mouse */
  }
  
  .card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al pasar el mouse */
  }
  
  /* Imagen de la tarjeta */
  .card-img {
    width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 100%; /* Altura máxima para la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
  }
  
  
  .card-title {
    font-size: 1.25rem; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
  }
  
  .card-text {
    font-size: 0.9rem; /* Tamaño de fuente del texto */
    color: #555; /* Color del texto */
  }
  
  .btn-primary {
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    color: white; /* Color del texto en el botón */
    margin: 20px;
  }
  
  .btn-primary:hover {
    background-color: #5a3e9a; /* Color de fondo al pasar el mouse (más oscuro) */
  }
  
  /* Responsividad */
  @media (max-width: 576px) {
    .card {
        width: 100%; /* Tarjetas ocupan todo el ancho en pantallas pequeñas */
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Dos tarjetas por fila en pantallas medianas */
    }
  }
  
  @media (min-width: 768px) {
    .card {
        width: calc(33.33% - 20px); /* Tres tarjetas por fila en pantallas grandes */
    }
  }
  
  @media (min-width: 992px) {
    .card {
        width: calc(25% - 20px); /* Cuatro tarjetas por fila en pantallas extra grandes */
    }
  }
  