.ion-margin{
    margin: 50px;
    
}

// centrar texto
.ion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    flex-direction: column;  /* Alinea los elementos verticalmente */
    text-align: center;      /* Centra el texto dentro de los <h1> */
    background: transparent; /* Hace que el fondo sea transparente */
}