<ion-app>
  <ion-split-pane>
    <ion-content [fullscreen]="true">
      <!-- Encabezado de inicio -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            <div class="logo-principal">
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- Fin encabezado de inicio -->

      <br>
      <ion-content class="ion">
        <h2>{{ user?.name }}</h2> <!-- Uso del operador de encadenamiento opcional -->
        <p>Datos del Usuario</p>
        <p>Email: {{ user?.email }}</p> <!-- Muestra el email del usuario -->
        <br><br>
        <p>¡Gracias por tu compra en Multiverso Creaciones! </p>
        <p>Estamos encantados de que hayas elegido una de nuestras poleras para acompañarte. </p>
        <p>Cada prenda que diseñamos está hecha con pasión y creatividad, y nos alegra que formes parte de nuestra comunidad que celebra la autenticidad. </p>
        <p>¡Esperamos que disfrutes al máximo tu nueva polera y que cuente una historia única contigo!</p>
      </ion-content>
    </ion-content>
  </ion-split-pane>
</ion-app>