<ion-app>
  <ion-split-pane>
    <ion-content [fullscreen]="true" class="ion">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            <div class="logo-principal">
              <img class="imgagen-logo" src="assets/icon/1611770034484.png" alt="logo" />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <br>
      <h2>GESTION DE PRODUCTOS</h2>

      <div>
        <form (ngSubmit)="createOrUpdateTShirt()">
          <input type="text" [(ngModel)]="selectedTShirt.material" name="material" placeholder="Material" required />
          <input type="text" [(ngModel)]="selectedTShirt.size" name="size" placeholder="Talla" required />
          <textarea [(ngModel)]="selectedTShirt.description" name="description" placeholder="Descripción" required></textarea>
          <!-- Nuevo campo para el precio -->
          <input type="number" [(ngModel)]="selectedTShirt.price" name="price" placeholder="Precio" required />
          <!-- Input para subir imagen con referencia local -->
          <input #fileInput type="file" (change)="uploadImage($event)" title="Selecciona una imagen para subir" />

          <!-- Mostrar el progreso de la subida si existe -->
          <div *ngIf="uploadPercent as percent">Progreso de subida: {{ percent }}%</div>

          <!-- Mostrar la imagen subida si está disponible -->
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Vista previa de la imagen" width="150" />

          <button type="submit">{{ selectedTShirt.id ? 'Actualizar' : 'Crear' }}</button>
        </form>

        <div class="card-container">
          <div class="card" *ngFor="let tshirt of tshirts">
              <img class="card-img" *ngIf="tshirt.imageUrl" [src]="tshirt.imageUrl" alt="Imagen de camiseta" />
              <div class="card-body">
                  <h3>{{ tshirt.material }}</h3>
                  <p>Talla: {{ tshirt.size }}</p>
                  <p>{{ tshirt.description }}</p>
                  <p class="card-text">Precio: {{ tshirt.price | currency:'CLP':'symbol':'1.0-0':'es' }}</p>
                  <div class="button-container">
                      <button (click)="editTShirt(tshirt)">Editar</button>
                      <button (click)="deleteTShirt(tshirt)">Eliminar</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-split-pane>
</ion-app>
